@import '../../styles/variaveis';
main {
  margin: 0 24px;
}

.principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;

  &__imagem {
    width: 88%;
    img {
      width: 100%;
      height: 400px;
      border-radius:20px;
    }

    position: relative;

    h1 {
      position: absolute;
      z-index: 1;
      color: $cor-do-texto;
      font-size: 2.5rem;
      font-family: $fonte-bold;
      width: 401px;
      height: 144px;
      top: 75px;
      left: 44px;
    }
  }
}

.galeria {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 17%;
  margin-top: -3rem;
}

.fundo{
  
  margin: 0px;
  padding: 0px;
  background-image: url(./fundoPagina.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 110% 110%;
  animation: move-background 120s linear infinite;
}



/* Define a animação */
@keyframes move-background {
  0% {
    background-position: 0 0;
    background-size: 110% 110%;
    background-position-y: 100%
  }
  50% {
    background-position: 100% 0;
    background-size: 150% 150%;
    background-position-y: 0
  }
  100% {
    background-position: 0 0;
    background-size: 110% 110%;
    background-position-y: 100%
    
  }

}

